**
!.dockerignore
!Dockerfile
!apphost.vnext.toml
!RELEASE
!PACKAGE.SHA256SUMS
!go.mod
!go.sum
!package.json
!package-lock.json
!cmd/
!cmd/**
!internal/
!internal/**
!vendor/
!vendor/**
!static/
!static/**
